<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="true"
>
    <testsuites>
        <testsuite name="timezone">
            <file>./tests/DateTimeZone/Comparisons.php</file>
            <file>./tests/DateTimeZone/Copying.php</file>
            <file>./tests/DateTimeZone/Creating.php</file>
            <file>./tests/DateTimeZone/Reading.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="50" highLowerBound="90"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
